a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    width: 9em;
    height: 3em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 6px;
}