body {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

ol {
    border: 2px solid purple;
    background-color: rgba(200, 200, 200, 0.5);
    width: 7em;
}

li {
    border: 1px solid purple;
    width: 5em;
}

#arg {
    color: blue;
    background-color: white;
}

#uru {
    color: white;
    background-color: turquoise;
}

#chi {
    color: red;
    background-color: blue;
}

#bra {
    color: green;
    background-color: yellow;
}

#par {
    color: blue;
    background-color: red;
}

#bol {
    color: yellow;
    background-color: green;
}